<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />

<link href='{{ site.baseurl }}/images/fav.png' rel='shortcut icon'>
<link href='{{ site.baseurl }}/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/responsive.css' rel='stylesheet' type='text/css' />
<link href="{{ site.baseurl }}/stylesheets/nprogress.css" rel='stylesheet' type='text/css' />
<link href="{{ site.baseurl }}/stylesheets/duoshuo.css" rel='stylesheet' type='text/css' />

<link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml">

<script src='{{ site.baseurl }}/javascripts/jquery.js' type='text/javascript'></script>
<script src='{{ site.baseurl }}/javascripts/nprogress.js' type='text/javascript'></script>
<script src='{{ site.baseurl }}/javascripts/theater.js' type='text/javascript'></script>

<script src='{{ site.baseurl }}/javascripts/app.js' type='text/javascript'></script>
<script>var duoshuoQuery = {short_name:"{{site.duoshuo_short_name}}"};</script>
