<html>
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include post_pagination.html %}
      <div class="content">
        <section class='post'>
          <h1>
            {{ page.title }}
            <div class='date'>{{ page.date | date_to_string }}</div>
          </h1>
          {{ content }}
        </section>
      </div>

      {% if site.disqus_shortname and page.disqus != false %}
        {% include disqus.html %}
      {% endif %}
      
      {% if site.duoshuo_short_name and site.duoshuo_comments == true and page.comments != false%}
        {% include duoshuo.html %}
      {% endif %}

    </div>
    {% include footer.html %}
  </body>
</html>
